{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Time</title>
        <link href="{% static 'whattime/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/time-1855956-1574162.png" type="image/png">
    </head>
    {% if hour > 12 or hour == 12 and minute > 30 %}
        <body id="morning">
            <h1>TIME</h1>
            Now is:<br>
            {{hour}}:{{minute}} of {{month}}/{{day}}/{{year}}
            And right now is morning yet
    {%else%}
        <body id="afternoon">
            <h1>TIME</h1>
            Now is:<br>
            {{hour}}:{{minute}} of {{month}}/{{day}}/{{year}}<br>
            And right now is already afternoon
    {%endif%}
    </body>
</html>